
.App {
  text-align: center;
}

.card-image{
  height: 225px; /* Your height here */
  overflow: hidden;

}
.row {
  margin-top: -1em;
}

.parallax-container .parallax img {
  opacity: 100;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
